.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.section__title {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #374b5c;
}

.section__subtitle {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #374b5c;
  padding: 1em;
  width: 50%;
  margin: 0 auto;
}

.card__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto 6em auto;
  width: 80%;
}

.leafs {
  margin-bottom: 2em;
}

.leaf {
  width: 50px;
  margin: 0 auto;
}

.leaf-right {
  width: 50px;
  margin: 0 auto;
  transform: rotateY(180deg);
  margin-left: -75px;
  margin-bottom: -15px;
}

.section2__sponsors {
  background-color: #fbfefe;
}

.sponsor__image {
  max-width: 200px;
  border-radius: 30%;
}
