.footer__link {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 1em;
}

.footer__link:hover {
  border-bottom: 2px solid #00dbd0;
  width: fit-content;
}
