.card__nature__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  border-radius: 20px;
  border: dotted 0.5px #374b5c;
  padding: 1em;
  background-color: #ffffff;
}

.card__nature__container-blue {
  background-color: #00dbd0;
}

.card__nature__img-container {
  width: 100%;
  height: 30%;
}

.card__nature__img {
  width: 80%;
  object-fit: contain;
}

.card__nature__title {
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #374b5c;
}

.card__nature__text {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #374b5c;
}
