.header-logo {
  width: 30%;
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-grey-blue);
  display: flex;
  align-items: center;
}

.header-logo-white {
  color: #fff;
}

.logo {
  height: 100px;
}
