.header-logo {
  width: 30%;
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-grey-blue);
  display: flex;
  align-items: center;
}

.logo {
  /* background: var(--dark-grey-blue); */
  /* filter: hue-rotate(40deg); */
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(10px);
}

.huerotate {
  filter: hue-rotate(180deg);
}
