.card__testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
}

.card__testimonials-img {
  height: 5rem;
  width: 5rem;
  margin: 1em;
}

.card__testimonials-name {
  font-size: 1.625rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
  margin: 1em 0;
}

.card__testimonials-text {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #374b5c;
  margin: 1em 0;
}
