.menu__item {
  width: 43px;
  height: 21px;
  margin: 1em 1em;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-grey-blue);
  font-family: "Libre Baskerville", serif;
}

.menu__item:hover {
  border-bottom: 2px solid #00dbd0;
}

.menu__item-contact {
  border: 2px solid #00dbd0;
  border-radius: 10px;
  padding: 12px 48px 13px 38px;
}
